<div *ngIf="hangars">
    <div>
        <label>ID: </label> {{hangars.id}}
    </div>
    <div>
        <label>Name: </label> {{hangars.hangarname}}
    </div>
    <div>
        <label>Model: </label> {{hangars.model}}
    </div>

    <div *ngIf="!hangars.planeallocated">
        <label>Allocated Status: </label> Not Allocated
    </div>

    <div *ngIf="hangars.planeallocated">
        <label>Allocated Status: </label> Allocated
    </div>


  


    <span *ngIf="currentUser.roles=='ROLE_ADMIN'" class="button is-small btn-info" (click)='editHangars(hangars)'>Edit</span>
    <span *ngIf="currentUser.roles=='ROLE_ADMIN'" class="button is-small btn-info" (click)='deleteHangars()'>Delete</span>

    <span *ngIf="currentUser.roles=='ROLE_USER'" class="button is-small btn-info" (click)='allocatePLane(hangars)'>Allocate</span>



    <hr/>
</div>
